
.container{
    width: 700px;
    height: 700px;
    background-image: url(backgroundimg.jpg);
    justify-content: center;
    background-size:contain;
    background-repeat: no-repeat;
    display:inline-block;
    align-items: center;
    
    
}

#current{
    
    height:700px;
    width:400px;
    justify-content: center;
    align-items: center;
    

}



.main{
    
    text-align: center;
    justify-content: center;
    background-color: rgba(253, 255, 254, 0.767);
    padding-bottom: 20px;
    align-items: center;
    justify-content: center; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    background: rgba(74, 145, 226, 0.335);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: rgb(255, 255, 255);
    font-weight: bolder;
    

}

h1{
    font-size: 40px;

}